page-home {

    .centralizar-texto {
        text-align: center;
    }

    img {
        width: 100px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    /*
        -- theme-color: #FFCE00
        -- theme-black: #000000
        -- ion-color-gray: #D7D8DA
    */

    .login-header {
        background: #FFCE00;
        height: 200px;
        position: relative;
        border-radius: 0em;
    } 
    
    .login-header:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #FFCE00;
        border-bottom: 0;
        margin-left: -15px;
        margin-bottom: -15px;
    }

    .logo {
        display: block;
        width: 120px;
        margin: 0 auto;
        text-align: center;
    }

    [heading-column-lr] {
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    [big-heading] {
        font-size: 30px !important;
        color: #000000;
    }

    [small-heading] {
        margin-left: auto;
        padding-right: 40px;
        font-size: 15px;
    }

    ion-label {
        color: #000000;
        opacity: .8;
        font-size: 13px;
        display: block;
    }

    ion-content {
        background: #FAFAFA;
    }

    .custom-font {
        font-family: 'Josefin Sans', sans-serif;
      }
      
      ion-toolbar {
        --background: transparent;
      
        ion-title {
          padding: 20px 0 46px 0;
          font-weight: 900;
        }
      
        p {
          padding: 40px 0 20px 0;
          font-weight: 600;
        }
      
        .back-circle {
          z-index: -1;
          width: 200px;
          height: 200px;
          background: #e5ecf1;
          position: absolute;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
      
        }
      
      
      }
      
      ion-content {
      
        --background: rgba(237, 242, 245, .8);
      
        .back-blob {
          z-index: -1;
          width: 600px;
          position: absolute;
          left: -50%;
          top: 0;
        }
      
        form {
          margin-top: 100px;
        }
      
        .wrap-input {
          background-color: rgba(255, 255, 255, .8);
          border-radius: 20px;
          margin-bottom: 26px;
          box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
        }
      
        .input {
          display: block;
          width: 100%;
          background: transparent;
          font-family: Josefin Sans;
          font-size: 16px;
          line-height: 1.2;
          border: none;
          outline: none;
          height: 46px;
          padding: 0 20px 0 23px; 
        }
      
        .container-form-btn {
          display: flex;
          justify-content: center;
        }
      
        .form-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          min-width: 160px;
          height: 42px;
          background-color: #394752;
          border-radius: 20px;
          font-size: 14px;
          color: #FFFFFF;
          text-transform: uppercase;
          padding-top: 5px;
          transition: all 0.4s;
          box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
        }
      
        .form-btn:hover {
          background-color: #28333b;
          box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
        }
      
      
      }

    

}
